.grid {
	display: grid;
	grid-template-columns: repeat(var(--col), 50px);
	grid-template-rows: repeat(var(--row), 50px);
	gap: 0;
}

.square {
	background-color: var(--colour);
	border: 1px solid black;
}

.grid-cell {}

.colours-flex {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.colour-cell {
	width: 50px;
	height: 50px;
}

.cell-image {
	width: 50px;
	height: 50px;
	color: white;
}